
/* Partie Diaby */
* {
	margin: 0;
	font-family: "Cabin", sans-serif;
}

body{
	background-color: #f0f0f2;
}

.description{
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	line-height: 1.6;
	width: 45vw;
}

.nameOfAnimal{
	text-align: center;
	color: #ffffff;
	font-size: 100px;
	margin: 5rem;
	margin-left: 30%;
}

.presentation1{
	width: 100%;
	background-image: url(./img/cards/hachiko1.jpg);
	background-repeat:no-repeat;
	text-align: center;
	font-size: x-large;
	height: 88vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	color: white;
	/*parallax*/
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-weight: bolder;

}

.carac{
	color: rgb(196, 92, 27);
	text-align: center;
	font-weight: bold;
	background-color:white ;
	padding: 1rem;
	border-bottom:5px solid #a65132;
	font-size: x-large;
	font-size: 2rem;
}

.japdog1{
	font-family: "Cabin", sans-serif;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	color: rgb(41, 41, 41);
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:10px ;


	
}

.misepage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	border: solid 2px #a65132;
	width: 40vw;
	background-color: #ffffff;
}

.misepage p{
	font-size: large;
	margin: 1rem;
}


.propri{
	color: #a65132;
	border-radius: 12px 12px 12px 12px;
	border-bottom: 2px solid #a65132;
	font-size: 1.75rem;
	padding:2rem 2rem 2rem 0;
}

.contact{
	font-family: "Cabin", sans-serif;
	font-weight:bolder;
	text-align: center;
	margin-bottom: 20px;
	color: #a65132;
}

#buttoncontact{
	background-color: #ffffff;
	color: black;
	border-radius:50% 50% 50% 50% / 51% 50% 50% 49%;
	padding: 2%;
	font-weight: bold;
	width: 15%;
	height: 15%;
	margin: 1rem auto;
	box-shadow: 5px 5px 4px #000000;
	transition: all 0.2s;
}

#buttoncontact:hover{
	background-color: #a65132;
	color: #ffffff;
	box-shadow: 2px 2px 1.5px #000000;
	transform: translate(3px 3px);
}

@media screen and (max-width: 600px) {
	.misepage{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.carac{
		font-size: 1.5rem;
	
	}

	.description{
		font-size: 1.5rem;
		
	}

	.nameOfAnimal{
		font-size: 50px;
	}

	.presentation1{
		font-weight: bold;
	}

}
