* {
  /* The whole document */
  margin: 0;
  font-family: "Cabin", sans-serif;
}

#first {
  /* backggound picture */
  height: 88vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(img/Baniere/b_chat_chien.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  width: 100%;
}

.ombres {
  box-shadow: 0 0 1em rgb(106, 106, 106);
  /* ombres diffuses et rayon de flou */
}

.presentation {
  /* Container for everithing on the background picture */
  width: 40%;
  /* top: 20%;
  left: 10%;
  right: 50%; */
}

/*surement inutile*/
header {
  vertical-align: baseline;
}

h2 {
  display: block;
  font-size: 7em;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.815);
}

h4 {
  color: rgba(255, 255, 255, 0.815);
}

.box h2 {
  color: #6d6d6de0;
}

#first .button {
  margin-top: 50px;
  height: 50px;
  width: 150px;
  background-color: #a651329f;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#first .button:hover {
  background-color: #a65132d8;
}

.animals {
  /* Section Animals */
  background-color: #f0f0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  /* Each section of pictures with the text under */
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-top: 8%;
  padding-bottom: 2%;
}

.pics {
  /* Every picture */
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.box h2 {
  /* Text under pictures */
  font-size: large;
  text-align: center;
}

.learnmore {
  /* Learn more buttons */
  justify-content: center;
  width: 50%;
  margin: auto;
}

input[type="text"],
select,
textarea {
  /* Forms */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="button"] {
  /* All buttons */
  background-color: #6e6f73;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #6e6f73be;
}

#contactform {
  /* The contact form */
  border-radius: 5px;
  background-color: #f0f0f2;
  padding: 20px;
  margin: 10%;
}

footer {
  background-color: #ccc;
  color: #f0f0f2;
  padding: 1.5%;
  display: flex;
  justify-content: center;
}

/*TOPNAV*/

/*menu déroulant*/

nav{

  width: 100%;
  margin: 0 auto;
  background-color: #6d6d6de0;
  position: sticky;
  top: 0px;
}

nav ul{
  padding: 0px;
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after{
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid gold;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
}

.conteneur{
margin: 50px 20px;
height: 1500px;
}
/*fin menu déroulant*/

/*logo ok*/
.logo {
  padding: 0.25em;
  height: 2.25em;
  width: 2.25em;
}

.topnav {
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap :5%;
  background-color: gray;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  width: 100%;
}

.topnav-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/*right ok*/
.topnav-right {
  justify-content: right;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .animals {
    /* Section Animals */
    flex-direction: column;
  }
  .box {
    /* Each section of pictures with the text under */
    width: 100%;
  }
  .presentation {
    width: 60%;
  }
  h2 {
    font-size: 4em;
  }
  #first {
    height: 60vh;
  }
  .topnav-right{
    font-size: 0.8em;
  }
}
